
{% extends "pages/base.html" %}
{% block content %}

<h1>About</h1>

<p>Willkommen zum diesjährigen Wichteln. Diesmal wird alles anders. Anstatt einen Partner zugelost zu bekommen, könnt ihr dieses Mal Santa spielen und einen (oder mehr als einen) Wunsch erfüllen. 
Wie das geht, lest ihr unten. Falls nach dem Lesen noch Frage offen sind, beantworte ich (Eva/Elin) diese gerne im Discord. Mitmachen kann jeder LdE-Teilnehmer bzw. Anwärter. 
Die Wichtel-Aktion wird von mir (Eva) privat organisiert und ist keine offizielle Aktion des Lde e.V.</p>

<h2>Hinweis</h2>
Falls mal irgendwas nicht funktioniert, nicht gleich in Panik geraten. Einfach in einer halben Stunde nochmal probieren und wenn es dann immer noch nicht geht mir (Elin) im Discord schreiben. 
Die Himbeere, auf der die Seite läuft steht bei mir zuhause und wenn mein Internet temporär weg ist, dann ist die Seite genauso temporär weg.

<h2>Ablauf</h2>
<br>
<h3>Phase 1</h3>
<p>
    <ol>
        <li><b>Steckbrief anlegen.</b></li>
            <ul>
                <li>Der Steckbrief ist erst später und nur für einen Wichtel sichtbar, der deinen Wunsch erfüllt.</li>
                <li>Wie viele Infos man ins Profil schreibt entscheidet jeder selbst.</li>
                <li>Es gibt drei Slots für Bilder - falls ihr welche hochladen wollt.</li>
                <li>Mindestens die Adresse sollte unbedingt im Profil vorhanden und korrekt sein - bitte unbedingt nochmal nachprüfen!!</li>
                <li>Das Profil kann jederzeit erweitertert werden, auch noch in Phase 2. Hier kannst du also noch selbst ergänzen, wenn dir noch was einfällt.</li>
                <li>Wer sich selbst nichts wünschen möchte, braucht natürlich auch keinen Steckbrief</li>
            </ul>
        <li><b>Wünsche eintragen.</b></li>
            <ul>
                <li>Jeder kann maximal 3 Wünsche eintragen.</li>
                <li>Davon wird später höchstens ein Wunsch erfüllt.</li>
                <li>Achtung! Einmal abgeschickt können Wünsche nicht korrigiert werden!</li>
                <li>Eintragen von Wünschen ist nur während der ersten Phase möglich!</li>
                <li>Man muss selbst keinen Wunsch eintragen, um später einen Wunsch erfüllen zu können.</li>
                <li>Es kann sein, dass keiner der eingetragenen Wünsche später erfüllt wird - unabhängig davon, wie viele Wünsche man selbst erfüllt.</li>
                <li>Die Wünsche sollen keinen Rückschluss auf die Person zulassen. Alle Details zu Vorlieben/Kleidergrößen etc. kommen nicht in den Wunsch, sondern ins Profil!</li>
            </ul>
    </ol>
</p>

<h3>Phase 2</h3>
<p>
    <ol>
        <li><b>Wünsche durchsuchen.</b></li>
            <ul>
                <li>Alle Wünsche werden in einer Übersicht angezeigt.</li>
                <li>Jeder kann zunächst einen(1) Wunsch zum Erfüllen auswählen.</li>
                <li>Ihr seht erstmal nur die Wünsche. Erst nach dem Auswählen wird euch das Profil des Wünschenden angezeigt.</li>
                <li>Nein, ihr könnt einen Wunsch nicht "zurückgeben". Zumindest nicht ohne Grund.</li>
                <li>Hint für im selben Haushalt lebende Personen: tauscht euch ggf. aus, damit ihr nicht die Wünsche des jew. anderen erwischt ;-)</li>
                <li>Wenn die Wunschliste leer ist, sind im Zweifelsfall alle Wünsche schon vergeben.</li>
            </ul>
        <li><b>Wünsche erfüllen.</b></li>
            <ul>
                <li>Wird ein Wunsch von Milui ausgewählt, so verschwinden die anderen beiden Wünsche von Milui aus der Liste.</li>
                <li>Ausgewählte Wünsche werden euch mitsamt Steckbrief unter "Wunsch erfüllen" angezeigt.</li>
                <li>Selbstgemacht oder Selbstgekauft? Bitte vorrangig selbstgemacht...gekaufte Sachen verzieren, z.B. ein fertiges Shirt bemalen/besticken geht natürlich auch!</li>
                <li>Es gibt weder nach unten noch nach oben ein Preislimit. Macht das nach eigenem Ermessen, aber spart bitte nicht am (versicherten!) Versand.</li>
            </ul>  
    </ol>
</p>

<h3>Phase 3</h3>
<p>
    <ol>
        <li><b>Wünsche abschicken.</b></li>
            <ul>    
                <li>Verschicken dürft ihr ab dem 30.11. bis einschließlich 20.12. --> bitte nicht vorher und auch nicht später!</li>
                <li>Bitte schreibe deinen ABSENDER auf das Paket, sowie ggf. irgendwo außen "Wichtelpost".</li>
                <li>Verschicke nach Möglichkeit versichert und mit Trackingnummer. Letztes Jahr sind liebevoll gebastelte Geschenke verloren gegangen. Das wollen wir vermeiden. Unversichert nur, wenn es gar nicht anders geht!</li>
                <li>Habt ihr einen erfüllten Wunsch abgeschickt, tragt bitte die Trackingnummer (falls vorhanden) unter "Wunsch erfüllen" ein. In jedem Fall, markiert den Wunsch als "abgeschickt".</li>
                <li>Nach Markieren des aktiven Wunsches als "abgeschickt" habt ihr nochmal die Möglichkeit, einen weiteren Wunsch aus der Liste auszuwählen und zu erfüllen (so lange der Vorrat reicht..)</li>
            </ul>
        <li><b>Empfang bestätigen.</b></li>
            <ul>
                <li>Wenn du ein Wichtelpaket erhälst,bestätige bitte den Empfang auf der "Ich habe was bekommen" Seite.</li>
                <li>Die "Ich habe was bekommen" Seite gibt dir kein Feedback. Das muss so, damit man darüber nicht prüfen kann, ob für einen selbst etwas unterwegs ist. Das Bestätigen des Empfangs funktioniert aber trotzdem. Es ist nicht schlimm, wenn du aus Versehen mehrfach klickst. Die Seite kann damit umgehen.</li>
                <li>Bedanke dich gerne schon per PN bei deinem Wichtel. Halte aber deine Freude noch bis 20.12. zurück. Dann darft du gerne deine Bilder im Discord zeigen.</li>
            </ul>
    </ol>
</p>

<h2>Wann solltest du lieber nicht teilnehmen?</h2>
<p>
    <ol>
        <li>Wenn du nicht damit leben kannst, von bestimmten Personen bewichtelt zu werden</li>
        <li>Wenn du nicht damit leben kannst, bestimmte Personen zu bewichteln</li>
        <li>Wenn du enttäuscht wärst, dass keiner deiner Wünsche in Erfüllung geht</li>
        <li>Wenn du nicht genug Zeit/Energie/Motivation aufbringen kannst in der Wichtelzeit, aber ein schlechtes Gewissen hast, dir einfach nur was zu wünschen</li>
        <li>Wenn du mit der vorübergehenden Speicherung deiner Daten (Details siehe ganz unten) nicht einverstanden bist.</li>
        <li>Wenn du eine sehr starke Allergie (z.B. gegen Tierhaare) hast und ggf. auf ein Teil aus einem Tierhaushalt reagieren würdest, auch wenn dein Secret Santa sich alle Mühe gibt, Geschenk und Haustier voneinander fernzuhalten.</li>
    </ol>
</p>

<h2>Beispiele für Wünsche</h2>
<p>Wunsch sollte keinen Rückschluss auf die wünschende Person zulassen. 
Wunsch sollte nicht zu spezifisch formuliert sein, sondern Raum für Kreativität lassen.
Eure Vorlieben gehören nicht ins Wunsch-Formular, sondern ins Profil.
Bleibt realistisch. Es muss sich irgendwie noch verschicken lassen.
<br>
<b>Beispiele, für schlecht formulierte Wünsche:</b><br>
    <ul>
        <li>"Ich wünsche mir eine rot-gelb-karierte Nierentasche mit einer Elfenbeinschnalle für meinen Charakter Elin mit den Maßen 20 cm x 30 cm x 5cm"</li>
        <li>"Ich wünsche mir für meine Asrai Wardancerin eine Laterne so wie auf dem Artwork XY"</li>
        <li>"Hi, mein Name ist Milui und ich wünsche mir...."</li>
        <li>"Ich wünsche mir eine Kopie im Maßstab 1:1 vom neuen Angelimir-Pavillon"</li>
    </ul>

<br>
<b>Beispiele, für gut formulierte Wünsche:</b><br>

    <ul>
        <li>"Ich wünsche mir einen Gruß aus der Küche, süß oder herzhaft" (-->hier wäre es schlau, Lieblingspeisen im Profil zu erwähnen...)</li>
        <li>"Ich wünsche mir ein IT-Kochbuch mit Con-tauglichen Rezepten"</li>
        <li>"Ich wünsche mir für den Alltag ein paar warme Wollsocken" (Lieblingsfarben+Schuhgröße im Profil)</li> 
        <li>"Ich wünsche mir eine IT-Lichtquelle passend für meinen Charakter (Charakterbeschreibung im Profil)</li>
        <li>"Da ich backen hasse, wünsche ich mir selbstgemachtes Gebäck - Kekse, Kuchen im Glas...egal, hauptsache süß!"</li>
        <li>"Mein Charakter wünscht sich etwas, wo er auf Cons immer seine Snacks transportieren kann. Es sollten 1-2 Müsliriegel reinpassen oder eine Tüte Studentenfutter." (Charakterbeschreibung im Profil)</li>
        <li>"Ich wünsche mir etwas, was mich im Winter (OT) warm hält. Egal ob Mütze, Schal oder Handschuhe, gestrickt, genäht, gehäkelt...." (Maße, Lieblingsfarben, Materialen etc. im Profil)
        </li>
    </ul>

</p>

<h2>Speicherung eurer Daten</h2>
<p>Eure Daten liegen auf einer Himbeere bei mir zuhause. Zugriff auf eure eingegeben Wünsche ist allen angemeldeten Usern möglich. 
Zugriff auf euren Steckbrief hat nur der User, der euch bewichtelt. Es ist einem User nicht möglich, seinen Account selbst zu löschen. Das ist so gewollt. Wenn ihr noch keine Wünsche eingetragen/angenommen habt, könnt ihr euch aber bei mir melden, dann lösche ich den Account für euch. Sind von euch schon Wünsche eingetragen/angenommen kann ich euren Account leider nicht löschen und ihr müsst bis zum Abschluss des Wichtelns warten.
Nach Abschluss des Wichtelns (=wenn alle versendeten Päckchen angekommen sind) werde ich die Datenbank inkl. eurer angelegten User, Profile und Wünsche einmal komplett löschen.
Wer damit nicht einverstanden ist, bitte nicht teilnehmen.</p>

{% endblock %}