<div class='col-md-4'>
  <div class='content-section'>
    <h3>Ho, Ho, Ho!</h3>
      <p class='text-muted'>Wünsche eintragen: 01.11.-15.11. - Wünsche aussuchen: 16.11.-16.12. - Wünsche abschicken: 30.11.-20.12.(Deadline!) - Geschenke zeigen: ab 20.12. (optional: gemeinsames Auspacken am 26.12. abends)
        <ul class='list-group'>
          <li class='list-group-item list-group-item-light'><a href="{% url 'profile' %}">Mein Steckbrief</a></li>
          <li class='list-group-item list-group-item-light'><a href="{% url 'makeawish' %}">Meine Wünsche eintragen</a></li>
          <li class='list-group-item list-group-item-light'><a href="{% url 'wishlist' %}">Wunschzettel durchforsten</a></li>
          <li class='list-group-item list-group-item-light'><a href="{% url 'todo' %}">Wunsch erfüllen</a></li>
          <li class='list-group-item list-group-item-light'><a href="{% url 'approve' %}">Ich hab was bekommen!!</a></li>
        </ul>
      </p>
  </div>
</div>